@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('../fonts/barlowsemicondensed-medium-webfont.woff2') format('woff2'),
       url('../fonts/barlowsemicondensed-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('../fonts/barlowsemicondensed-semibold-webfont.woff2') format('woff2'),
       url('../fonts/barlowsemicondensed-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  /* colors */
  --violet: hsl(263, 55%, 52%);
  --violet-border: hsl(264, 82%, 70%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-gray-blue: hsl(210, 46%, 95%);

  /* typography */
  --ff-ss: 'Barlow Semi Condensed', sans-serif;

  /* font weights */
  --fw-m: 500; /* main */
  --fw-sb: 600; /* quote lead */

  /* font sizes */
  --fs-1: 0.6875rem; /* status */
  --fs-2: 0.8125rem; /* name, quote */
  --fs-3: 1.25rem; /* quote lead */

  /* border radius */
  --br-1: 0.5rem; /* testimonial cards */
  --br-50: 50%; /* images */

  /* spacing */
  /* padding */
  --p-1: 1.75rem;
  --p-2: 1.9375rem;
  --p-3: 2rem;

  /* margin */
  --m-1: 0.9375rem;
  --m-2: 1.03125rem;
  --m-3: 1.0625rem;
  --m-4: 2.25rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  line-height: 1.4;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  font-family: var(--ff-ss);
  max-width: min(69.375rem, 100% - 3rem);
  margin: 0 auto;
  grid-template-areas:
   "t1"
   "t2"
   "t3"
   "t4"
   "t5";
  gap: 1.5rem;
}

.testimonial {
  padding-block: var(--p-1) var(--p-2);
  padding-inline: var(--p-3);
}

.t-1 {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 10%;
}

.t-1 .quote-lead {
  margin-bottom: var(--m-4);
}

.t-1 p:last-child {
  margin-right: var(--m-2);
}

.avatar {
  height: 1.75rem;
  width: 1.75rem;
  box-sizing: content-box;
  border: 2px transparent;
  margin-right: var(--m-3);
}

.quote-lead {
  line-height: 1.2;
  margin-block: var(--m-1);
}


/* UTILITY CLASSES */

/* COLORS */

/* background colors */
.bg-primary {
  background-color: var(--violet);
}

.bg-secondary {
  background-color: var(--dark-gray-blue);
}

.bg-dark {
  background-color: var(--dark-black-blue);
}

.bg-light {
  background-color: var(--light-gray-blue);
}

.bg-white {
  background-color: var(--white);
}

/* text colors */
.text-dark {
  color: var(--dark-gray-blue);
}

.text-light-1 {
  color: var(--light-gray);
}

.text-light-2 {
  color: var(--light-gray-blue);
}

.text-white {
  color: var(--white);
}

.text-mute-50 {
  opacity: 0.5;
}

.text-mute-70 {
  opacity: 0.7;
}

/* avatar border color */
.bc-primary {
  border: 2px solid var(--violet-border);
  
}

/* TYPOGRAPHY */

/* font sizes */
.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

/* font weights */
.fw-m {
  font-weight: var(--fw-m);
}

.fw-sb {
  font-weight: var(--fw-sb);
}

/* LAYOUT */
.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.br-1 {
  border-radius: var(--br-1);
}

.br-50 {
  border-radius: var(--br-50);
}

